@import "./layout.css";
@import "./articleDetail.css";
@import "./articleList.css";
@import "./page.css";
@import "./vote.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}
